@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 300;
    src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format('opentype');
}

@font-face
{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    src: local('Exo 2'), local('Exo2-Regular'), url(https://fonts.gstatic.com/s/exo2/v3/-A4eIjQkAwKL411pgtQ4VA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body
{
    font-family: 'Exo 2', 'Noto Sans TC', Helvetica, sans-serif;
    font-size: medium;
}

/* Table 1 Style */
table.table1{
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
    border-collapse:separate;
    text-align: center !important;
}
.table1 thead th{
    padding: 5px;
    color:#fff;
    text-shadow:1px 1px 1px #568F23;
    border:1px solid #93CE37;
    border-bottom:3px solid #9ED929;
    background-color:#9DD929;
    background:-webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.02, rgb(123,192,67)),
            color-stop(0.51, rgb(139,198,66)),
            color-stop(0.87, rgb(158,217,41))
    );
    background: -moz-linear-gradient(
            bottom,
            rgb(123,192,67) 2%,
            rgb(139,198,66) 51%,
            rgb(158,217,41) 87%
    );
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius:5px 5px 0 0;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

.table1 #bottom th{
    border:1px solid #93CE37;
    border-top:3px solid #9ED929;
    background-color:#9DD929;
    -webkit-border-radius:0 0 5px 5px;
    -moz-border-radius:0 0 5px 5px;
    border-radius:0 0 5px 5px;
}

.table1 thead th:empty{
    background:transparent;
    border:none;
}
.table1 tbody th{
    color:#fff;
    text-shadow:1px 1px 1px #568F23;
    background-color:#9DD929;
    border:1px solid #93CE37;
    border-right:3px solid #9ED929;
    padding:0 5px;
    background:-webkit-gradient(
            linear,
            left bottom,
            right top,
            color-stop(0.02, rgb(158,217,41)),
            color-stop(0.51, rgb(139,198,66)),
            color-stop(0.87, rgb(123,192,67))
    );
    background: -moz-linear-gradient(
            left bottom,
            rgb(158,217,41) 2%,
            rgb(139,198,66) 51%,
            rgb(123,192,67) 87%
    );
    -moz-border-radius:5px 0 0 5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}

.th_bottom
{
    border-right:1px solid #93CE37;
    border-left:3px solid #9ED929;
    padding:0 5px;
    -moz-border-radius: 0 5px 5px 0 !important;
    -webkit-border-radius: 0 5px 5px 0 !important;
    border-radius: 0 5px 5px 0 !important;
}

.table1 tfoot td{
    color: #9CD009;
    font-size:32px;
    text-align:center;
    padding:10px 0;
    text-shadow:1px 1px 1px #444;
}
.table1 tfoot th{
    color:#666;
}
.table1 tbody tr:nth-child(even) td
{
    text-align:center;
    background-color: #d2f3d5;
    border: 1px solid #c0c0c0;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:#666;
    text-shadow:1px 1px 1px #fff;
    padding: 4px 4px 4px 4px;
}

.table1 tbody tr:nth-child(odd) td
{
    text-align:center;
    background-color: #ede0f3;
    border: 1px solid #c0c0c0;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:#666;
    text-shadow:1px 1px 1px #fff;
    padding: 4px 4px 4px 4px;
}

#select_menu .table1 tbody tr td:nth-child(2n + 3):not(:last-child)
{
    border-right: 2px solid #000000 !important;
}

#select_menu .table1 tbody tr:nth-child(6n + 6):not(:last-child) td:not(:first-child)
{
    border-bottom: 2px solid #000000 !important;
}

th
{
    text-align: center;
}
