/*  title   */
h1
{
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: xx-large;
}

/*  class for text centered */
.text_centered
{
    text-align: center;
}

/*  let image to fit screen */
/*
reference: http://stackoverflow.com/questions/6169666/how-to-resize-an-image-to-fit-in-the-browser-window/35345577#35345577
*/
body
{
    height: 100%;
    margin: 0;
    padding: 50px;
    background-color: #3498DB;
}

img
{
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

/*  center div  */
/*
reference: http://stackoverflow.com/questions/114543/horizontally-center-a-div-in-a-div
*/

.div_centered
{
    display: table;
    margin: 0 auto;
}

*
{
    box-sizing: border-box;
}

*:focus
{
    outline: none;
}

.login
{
    margin: 20px auto;
    width: 300px;
}
.login-screen
{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px
}

.app-title
{
    text-align: center;
    color: #777;
}

.login-form
{
    text-align: center;
}

input
{
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
}

input:focus
{
    border: 2px solid #3498DB;
    box-shadow: none;
}

.btn
{
    border: 2px solid transparent;
    background: #3498DB;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
}

.btn:hover
{
    background-color: #2980B9;
}


#fb-btn
{
    margin-bottom: 10px;
}

/*  reference: http://stackoverflow.com/questions/5214127/css-technique-for-a-horizontal-line-with-words-in-the-middle  */
.line-beside-text
{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.line-beside-text span
{
    background: #ffffff;
    padding: 0 10px;
}


/*  reference: http://stackoverflow.com/a/17731854/6007708  */
#show
{
    display: none;
}

#login_guest
{
    display: none;
}

input#show:checked ~ #login_guest
{
    display: block;
}
